names:
- '0'
- '1'
- '2'
- '3'
- '4'
- '5'
- '6'
- '7'
- '8'
- '9'
- A
- B
- C
- D
- E
- F
- G
- H
- I
- K
- L
- M
- N
- O
- P
- Q
- R
- S
- T
- U
- V
- X
- Y
- Z
- a
- b
- c
- d
- e
- f
- g
- h
- i
- j
- k
- l
- m
- n
- o
- p
- q
- r
- s
- t
- u
- v
- w
- x
- y
- z
nc: 60
train: /content/drive/MyDrive/Tutorials/Datasets/IAT 360 Computer Vision Project/Doctors
  prescriptions handwriting.v1i.yolov8 2/train
val: /content/drive/MyDrive/Tutorials/Datasets/IAT 360 Computer Vision Project/Doctors
  prescriptions handwriting.v1i.yolov8 2/valid
